#Ignoring Specific Files
#.DS_Store

#Ignoring Specific Directories
__pycache__/
.ipynb_checkpoints/
__pycache__/
#Ignoring File Extension
*.DS_Store

~                                                                               
~        




